<!doctype html>
<html>
  <head>
    <title>Welcome to <%= shopData.shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%= shopData.shopName %></h1>
    
    <ul>
      <li><a href="/about">About <%= shopData.shopName %></a></li>
      
      <!-- USER ACCOUNT LINKS -->
      <li><a href="/users/login">Log in to your account</a></li>
      <li><a href="/users/register">Register with us</a></li>
      <li><a href="/logout">Logout</a></li>

      <!-- AUDIT LOG LINK -->
      <li><a href="/users/audit">View Login Audit Log</a></li>

      <!-- WEATHER LINK -->
      <li><a href="/weather">Weather forecast</a></li>

      <!-- BOOK LINKS -->
      <li><a href="/books/search">Search for books</a></li>
      <li><a href="/books/addbook">Add a new book</a></li>
      <li><a href="/books/list">List books</a></li>
      <li><a href="/books/bargainbooks">Bargain books (&lt; £20)</a></li>
    </ul>
  </body>
</html>


