<!doctype html>
<html>
  <head>
    <title><%= shopData.shopName %> - Book List</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%= shopData.shopName %> Shop</h1>
    <p>Here are the books that we sell:</p>
    <ul>
      <% availableBooks.forEach(function(book) { %>
        <li><%= book.name %>, £<%= book.price.toFixed(2) %></li>
      <% }); %>
    </ul>
    <p><a href="/">Back to home</a></p>
  </body>
</html>

